h1 {
    color: blue;
    font-size: x-large;
}

h2 {
    color: blueviolet;
    font-size: large;
}

h3 {
    color: cornflowerblue;
    font-size: medium;
}

p {
    font-size: small;
}

li {
    font-size: small;
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

